<template>
    <div class='left-bar-outer-div'>      
        <!-- <img src="/images/sea.jpg" style="width:100%; height:100%;" /> -->
    </div>
</template>

<script>

    export default {
    }

</script>
    
<style scoped>
    .left-bar-outer-div {
        flex-grow: 2;        
        flex-basis: 0;
        border-width: 2px;
        border-color: green;
        background: blue; /*fallback*/
        background: linear-gradient(blue,  green );
    }
    @media (max-width: 1640px) {
        .left-bar-outer-div {
            display: none;
        }
    }
</style>