<template>
    <div class='right-bar-outer-div'>      
        
    </div>
</template>

<script>
    
    export default {
    }

</script>
    
<style scoped>
    .right-bar-outer-div {
        flex-grow: 2;        
        flex-basis: 0;
        border-width: 2px;
        border-color: green;
        background: blue; /*fallback*/
        background: linear-gradient(blue,  green );
    }
    @media (max-width: 1360px) {
        .right-bar-outer-div {
            display: none;
        }
    }

</style>