<template>
    <div class='three-columns-outer-div' >     
        <LeftBar />
        <Rooms v-show="$store.state.showHamburgerRooms"/>   
        <ChatMessages v-show="$store.state.showHamburgerChatMessages"/>
        <RoomUsers v-show="$store.state.showHamburgerRoomUsers"/>
        <RightBar />
    </div>
</template>

<script>

    import ChatMessages from "./ChatMessages/ChatMessages";
    import Rooms from "./Rooms/Rooms";
    import RoomUsers from "./RoomUsers/RoomUsers";
    import LeftBar from "./LeftBar";
    import RightBar from "./RightBar";
    
    export default {
        components: { LeftBar, Rooms, ChatMessages, RoomUsers, RightBar },
    }

</script>
    
<style scoped>
    .three-columns-outer-div {
        height: 100%;
        border-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: stretch;
        flex-basis: 0;
        flex-grow:1;
    }
</style>