<template>
    <div class='outer-div-rooms'>      
            <div class="rooms" v-bind:data-name="p.roomName" v-bind:style="browserFont" v-for="(p,  index) in roomsArray" v-bind:key="index" v-on:click="joinRoom(p.roomName)" v-bind:class="(($store.state.currentRoom == p.roomName) ? roomSelected :'')" >
                <div class="p-room-name">
                    {{ p.roomName }}
                </div>    
                <div class="circle" v-show="counter[p.roomName]>0" >
                    <div v-bind:style="unreadMessageCounter">
                        {{ counter[p.roomName] }}
                    </div>
                </div>
            </div>
            <div class="rooms" v-bind:style="browserFont" v-on:click="addRoom">
                <div style='' class="add-room">
                    <i class='fa fa-plus'></i>
                </div>    
            </div>         
    </div>
</template>

<script>
    
    import modalAlert from '../../../services/usernameModal.js';
    
    export default {
        data: function () {
            return {
                counter: {},
            }
        },
        mounted() {
            this.eventBus.$on('pushMessage', this.markRoomLabel);
            this.initiateRoomCounter();
            this.eventBus.$on('updateRoomsCounters', this.updateRoomsCounters);
        },
        methods: {
            joinRoom(room) {
                this.$store.commit('setCurrentRoom', room);
                this.eventBus.$emit('focusToMessageInput');
                this.resetCounterRoom(room);
                this.$store.commit('setIsRoomSelected', true);
            },
            markRoomLabel(data) {
                var element = document.querySelector("[data-name='" + data.roomName+"']");
                if(this.$store.state.currentRoom!=data.roomName && this.counter[data.roomName]<9) {
                    element.classList.add("marked-room");
                    this.$set(this.counter, data.roomName, this.counter[data.roomName]+1); //this is not array this is object but
                        //we can't use dots because object's key has spaces so we need this.counter.['some_name']
                } 
            },
            initiateRoomCounter() {
                // we need to initiate counter of each room to zero otherwise we can't add numbers,
                //because Vue doesn't know what type it is
                this.roomsArray.forEach(room => {
                    this.$set(this.counter, room.roomName, 0); //Vue.set not working so I used this.$set which is the same
                })
            },
            resetCounterRoom(room) {
                this.$set(this.counter, room, 0); //Vue.set not working so I used this.$set which is the same
            },
            updateRoomsCounters(){
                this.roomsArray.forEach(room => {
                    if(this.counter[room.roomName] == undefined) { //can't use quotes with 'undefined' !!!!
                        this.$set(this.counter, room.roomName, 0)
                    }
                });
            },
            async addRoom() {
                if(window.innerWidth > 1159) { //this prevents Hamburger comedy
                    let roomName = await modalAlert('Enter name for a new room');
                    roomName = roomName.substring(0,10);
                    this.$store.commit('addRoom', roomName);
                }
            },    
        },
        computed: { //this can't be in data because it is taken from vuex so it must be in computed to be reactive
            roomsArray() {
                return this.$store.state.rooms;
            },
            browserFont() { //set different font size, because Firefox and chrome have different font sizes, so now they will look the same
                let browserEngine = this.$store.state.browserEngine;
                let styleObject = {};
                if (browserEngine == 'chrome') {
                    styleObject.["font-size"] = "31px";
                } else if (browserEngine == 'firefox') {
                    styleObject.["font-size"] = "23px";
                } else {
                    styleObject.["font-size"] = "30px";
                }
                return styleObject;
            },
            unreadMessageCounter() {
                let browserEngine = this.$store.state.browserEngine;
                let styleObject = {
                "font-size": "0.8em", //must be in quotes 'cos contains dashes or spaces
                color: "yellow",
                "font-weight": "normal",
                position: "relative",
                left: "50%"
                }
                if (browserEngine == 'chrome') {
                    styleObject.transform = "translate(-20%, 5%)";
                } else if (browserEngine == 'firefox') {
                    styleObject.transform = "translate(-22%, -1%)";
                } else if (browserEngine == 'opera') {
                    styleObject.transform = "translate(-20%, 3%)";                    
                } else {
                    styleObject.transform = "translate(-25%, -5%)";
                }
                styleObject.color = "yellow";
                return styleObject;  
            },
            roomSelected() {
                return ' room-selected ';
            }
        },
        props: [],
        inject: ['eventBus']
    }

</script>
    
<style scoped>

.outer-div-rooms {
    display: flex;
    flex-direction: column;
    color: navy;
    background: silver;
    background: linear-gradient(90deg,gray,white);
    flex-grow: 2;        
    flex-basis: 0;
    border-width: 2px;
    border-color: green;
    /* this stops text from stretching parent in flex*/
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    /*-------------------*/
    
}
@media (max-width:1153px) {
    .outer-div-rooms {
        /* display: none; */
    }
}
.marked-room {
    /* font-weight: bold; */
    /* color: red; */
}
.rooms {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    font-family: Verdana;
    background-color: blue;
    color: gray;
    border-radius: 30px;
    background-image: linear-gradient(270deg, gray, green, blue);
    background-size: 200% auto;
    margin: 5px;
    padding: 5px;
    text-align: left;
    cursor:pointer;
    transition: transform 0.9s ease;
    /* overflow-x: scroll; */ /*adds scrollbars to every single div with text*/
    /* white-space: nowrap; */
    /* overflow: hidden; */
    }
    .rooms:hover {
        transform: translate(0px, 0px);
        color: silver;
    }
    .room-selected {
        color: white;
        font-weight: bold;
    }
    .circle {
        background-color: red;
        color: silver;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        position: relative;
        left: -3%;
        top: -10%;
    }
    .p-room-name {
        margin-left: 10px;
    }
    .add-room {
        margin-left: 50%; 
        transform: translate(-50%);
    }
    .add-room span {
        /* font-size: 40px; */
    }

</style>