<template>
    <div class="main-outer-div">
        <TopBar class="top-bar"/>
        <ThreeMainColumns />
    </div>
</template>

<script>

import TopBar from "../components/TopBar/TopBar";
import ThreeMainColumns from "../components/ThreeMainColumns/ThreeMainColumns";

export default {
  name: 'Main',
  data: function () {
      return {
          messages: [],
          input_message: "",
      }
  },
  components: { TopBar, ThreeMainColumns },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only but classnames must be different anyway -->
<style scoped>


body { font: 13px Helvetica, Arial; }
.top-bar {
    background-color: blue; /*fallback*/
    background: linear-gradient(green, blue);
    height: 90px;
    border-color: red;
    
}
@media (max-width:397px) {
    .top-bar {
        height: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(green, blue);
    }
}
.main-outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-color: green;
}

</style>
