<template>
  <div id="app">
    <Main/>
  </div>
</template>

<script>
import Main from './components/Main.vue';
import modalAlert from './services/usernameModal';
import refreshRoomsService from './services/refreshRooms';

export default {
    name: 'App',
    data: function () {
        return {
            isModalVisible: true
        }
    },
    components: {
    Main
    },
    created() {
        this.$store.commit('initializeSocket');//if we initialized socket in MessagesBody, then many sockets would be created, when MessagesBody components changes when changing rooms for example
        this.$store.commit('initializeAudio');
        this.resize();
        window.addEventListener('resize', this.resize); //here must be callback, that is, only reference this.resize, and NOT this.resize() because this would be function call and we  need only reference!!!
        this.$store.commit('setWelcomeListener');
        this.$store.commit('setBrowserEngine');
        this.getUsername();
        this.$store.commit('setUserLeftListener');
        this.$store.commit('setUserJoinedListener');
        this.$store.commit('getRooms');
        //chat message may be incoming or outgoing, because it is first sent, and then everyone including me is receiveing this message
        this.$store.state.socket.on('chat message', (data) =>{
            if(data.fromSocketId ==  this.$store.state.socket.id) {
                this.$store.commit('setIsMessageOutgoing', true);
            } else {
                this.$store.commit('setIsMessageOutgoing', false);
                if(this.$store.state.username == 'Pawel') {
                    this.$store.commit('playPawelAudio');
                }
            }
            if( this.$store.state.currentRoom != data.roomName && this.$store.state.username != 'Pawel') { //play notification only when room is not selected
                this.$store.commit('playAudio');
            }
            this.pushMessageToRoom(data);
        });
        this.$store.state.socket.on('private message', (data) => {
            if(this.$store.state.username == 'Pawel') {
                this.$store.commit('playPawelAudio');
            }
            //private message is always incoming
            this.$store.commit('setIsMessageOutgoing', false);
            this.pushPrivateMessage(data);
        });
        this.setRefreshRoomsListener(this.$store.state);
        this.setRoomAddedListener(this.$store.state); 
    },
    methods: {
        resize() {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
            this.calculateVisibleMessageCount();
            //stopResizeFromChangingHamburgers is a value that prevents changing Vuex's showHamburgerRooms on mobile devices
            //because when there is a keyboard on mobile function resize() is triggered, and when keyboard is hidden, also 
            //again function resize() is triggered and two components:ChatMessages and Rooms are show at the same time, but on a 
            //mobile I want only one of these components to show
            if(window.innerWidth<1153) {
                this.$store.commit('setShowHamburgerRooms', false);
            } else {
                this.$store.commit('setShowHamburgerRooms', true);
            }
            if(window.innerWidth<730){
                this.$store.commit('setShowHamburgerRoomUsers', false);
            } else {
                this.$store.commit('setShowHamburgerRoomUsers', true);
            }
        },
        calculateVisibleMessageCount() {
            let visibleMessageCount = Math.floor((0.95*window.innerHeight-120)/70);
            this.$store.commit('setVisibleMessageCount', visibleMessageCount);
        },
        setRefreshRoomsListener(currentState) {
            currentState.socket.on('refresh rooms', (remoteRoomsArrayOfObjects) => {
                refreshRoomsService(currentState, remoteRoomsArrayOfObjects);
                this.eventBus.$emit('updateRoomsCounters');
            });
        },
        setRoomAddedListener(currentState) {
            currentState.socket.on('room added', (remoteRoomsArrayOfObjects) => {
                refreshRoomsService(currentState, remoteRoomsArrayOfObjects);
                this.eventBus.$emit('updateRoomsCounters');    
            });
        },
        async getUsername() {
            let username = await modalAlert('Enter your username');
            if(this.$store.state.usernames.length<10) {
            this.$store.state.socket.emit('user joined', this.$store.state.currentRoom , username );
            this.$store.commit('setUsername', username);
            }
            this.eventBus.$emit('focusToMessageInput');
        },
        pushMessageToRoom(data) {
            this.eventBus.$emit('pushMessage', data);
        },
        async pushPrivateMessage(data) { //this async works with eventBus, so eventBus must have some promises inside
            await this.eventBus.$emit('openPrivateRoom', {username: data.username, socketId: data.fromSocketId}); //how come??
            await this.eventBus.$emit('pushPrivateMessage', data); //how come ????
            await this.eventBus.$emit('focusToMessageInput');
        }
    },
    inject: ["eventBus"]
}
</script>

<style>
#app {
  height: 95vh; /*fallback*/
  height: calc(var(--vh, 1vh) * 95); /*1vh is a fallback value if --vh is not defined*/
}
</style>
