<template>
    <div>        
        <div class="outer-div-s">
          <input class="message-input" v-model="message" placeholder="Enter your message..." autocomplete="off" v-on:keyup.enter="sendMessage"/>
          <button  class="gradient-button gradient-button-4" v-on:click="sendMessage" >
              <i class="fa fa-location-arrow icon-style"></i>
          </button>
        </div>
    </div>
</template>

<script>
    
    import $ from 'jquery';
    
    export default {
        data: function () {
            return {
                message: "",
            }
        },
        mounted() {
            this.eventBus.$on('focusToMessageInput', this.focusToMessageInput);
            this.eventBus.$on('blurMessageInput', this.blurMessageInput);
        },
        methods: {
            sendMessage() {
                this.blurMessageInput();
                let data = {
                    message: this.message,
                    username: this.$store.state.username,
                    roomName: this.$store.state.currentRoom,
                    toPrivateRoomName: this.$store.state.username,
                    toSocketId: this.$store.state.toSocketId,
                    fromSocketId: this.$store.state.socket.id,
                    toUsername: this.$store.state.currentRoom
                }
                if(this.$store.state.isRoomSelected) { //so message is only pushed to a room and not duplicated to private room at the same time
                    data.toPrivateRoomName = "";
                } 
                if(this.message != "") {
                    this.$store.commit("sendMessage", data);
                }
                /////// push private message localy, because normal room messages are received from server and not pushed locally
                if(!this.$store.state.isRoomSelected) {
                    data.toPrivateRoomName = this.$store.state.currentRoom;
                    this.$store.commit('setIsMessageOutgoing', true); //pushes my messages only locally
                    this.eventBus.$emit("pushPrivateMessage", data); //pushes my message only locally
                }
                ///////
                this.message = "";
            },
            focusToMessageInput() {
                if(window.innerWidth > 1159) {  //this stops Hamburger 'comedy' on mobile devices
                    $(".message-input").focus();
                }
            },
            blurMessageInput() {
                if(window.innerWidth < 1159) {  //this stops Hamburger 'comedy' on mobile devices
                    $(".message-input").blur();
                }
            }                
        },
        computed: {
            isRoomSelected() {
                return this.$store.state.isRoomSelected;
            }
        },
        inject: ["eventBus"]        
    }

</script>
    
<style scoped>
    .outer-div-s {
        display: flex;
        flex-direction: row;
        min-width: 0; /*flex-grow works properly with this*/
        justify-content: space-between;
        background: linear-gradient(90deg,white, lightyellow,white);
        border-color: orange; 
        border-width: 1px;
        margin: 2px;
        padding: 2px; 
    }
    input { 
        padding: 3px; 
        margin-right: 2px; 
        border-width: 1px;
        outline: none;
        background: transparent;
    }
    .gradient-button {
        -moz-outline: none;
        outline: none; /*this removes outline border when clicked*/
        margin: 3px;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 120% auto;
        color: #FFF;
        box-shadow: 0 0 20px #eee;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        cursor: pointer;
        display: inline-block;
        border-radius: 25px;
        border: none;
    }
    @media (max-width:397px) {
        .gradient-button {
            display: none;
        }
    }
    ::-moz-focus-inner, :active, :focus { /*icon  fa fa won't have dotted yellow border in firefox, it was ok in chrome*/
        outline:none;
        border:0;
        -moz-outline-style: none;
    }
    .gradient-button-4 {
        background-image: linear-gradient(to right, green 1%, blue 90%)
    }
    .gradient-button-4:hover { 
        background-position: right center; 
    }
    .icon-style {
        outline: none;
        color: silver;
        font-size: 25px;
        transform: rotate(49deg);
        border: none;
        border-radius: 25px;
        padding-right: 2px;
        padding-top: 4px;
        transition: all 0.5s ease;
    }

    .gradient-button:hover .icon-style {
        color: #159a5b;
        transform: rotate(49deg) translate(3px, -3px);
        outline: none;
    }
    .message-input {
        align-self: center;
        min-width:0;
        font-size: 40px;
        flex-grow: 9;
        color: gray;
        border: none;
        background-color: lightgray;
        background-image: linear-gradient(white, lightgray, white);
        border-radius: 10px;
    }

</style>