<template>
    <div class='outer-div-cm'>      
        <MessagesBody v-for="(room, index) in rooms" v-bind:key="index" v-show="room.roomName == currentRoom " v-bind:roomName="room.roomName"/>
        <MessagesBody v-for="(room) in privateRooms" v-bind:key="room.roomName" v-show="room.roomName == currentRoom " v-bind:roomName="room.roomName"/>
        <BottomBarForSending />
    </div>
</template>

<script>

    import BottomBarForSending from "./BottomBarForSending";
    import MessagesBody from "./MessagesBody";
    
    export default {
        components: { BottomBarForSending, MessagesBody },
        data: function () {
            return {
            }
        },
        computed: {
            rooms() {
                return this.$store.state.rooms;
            },
            privateRooms() {
                return this.$store.state.privateRooms;
            },            
            currentRoom() {
                return this.$store.state.currentRoom;
            }
        },
        props: ["roomName"]        
    }

</script>
    
<style scoped>
    .outer-div-cm {
        flex-grow: 6;        
        flex-basis: 0; /* text won't stretch MessagesBody window*/
        border-width: 3px;
        border-color: purple;
        display: flex; 
        flex-direction: column;
        min-width:0; /*without this flex not working/shrinking properly*/
    }
    @media (max-width:855px) {
        .outer-div-cm {
            flex-grow: 6;
        }
    }
    
</style>