<template>
    <div class='outer-div-mb div-messages-to-scroll'>        
        <div class="li-message-heading">
            <span>                
                {{ isRoomSelected ? "Welcome to room : " + roomName : "Private conversation with " + roomName}}
            </span>
        </div>
        <Message v-for="(message, index) in messages" v-bind:key="index" v-bind:message="message"/>
    </div>
</template>

<script>

    import $ from 'jquery';
    import Message from './Message';
    
    export default {
        components: { Message },
        data: function () {
            return {
                counterOfMessages: 0,
                messages: [
                    //{message: "some message", isMessageOutgoing: true}
                ]
            }
        },
        computed: { //can't put messages in data, they have to be in computed because they are read-only
            isRoomSelected() {
                return this.$store.state.isRoomSelected;
            },
            isMessageOutgoing() {
                return this.$store.state.isMessageOutgoing;
            }
        },
        mounted() {
            this.eventBus.$on('pushMessage', this.pushMessage);
            this.eventBus.$on('pushPrivateMessage', this.pushMessage);
        },
        methods: {
            pushMessage(data) {
                if (this.roomName == data.roomName || this.roomName == data.toPrivateRoomName) {
                    this.counterOfMessages++;
                    let newMessage = {
                        message: data.username+': '+data.message,
                        isMessageOutgoing: this.isMessageOutgoing
                    }
                    this.messages.push(newMessage);
                    if(this.counterOfMessages > this.$store.state.visibleMessageCount) { 
                        this.messages.shift();
                    }
                }
                this.scrollToBottom();
            },
            scrollToBottom() {
                $(".div-messages-to-scroll").animate({ scrollTop: $(document).height() }, 1000);
            }
        },
        props: ["roomName"],
        inject: ["eventBus"]        
    }

</script>
    
<style scoped>
    .outer-div-mb {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-width: 10px;
        border-color: red;
        background: silver;
        background: linear-gradient(90deg,white, lightyellow,white);
        flex-basis: 0;
        overflow: hidden;
        overflow-x: hidden;
    }

    .li-message-heading {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-image: linear-gradient(180deg, blue 60%, white);
        text-align: center;
        color: white;
        font-weight: bold;
        border-width: 5px;
        border-color: red;
        font-size: 30px;
        padding: 10px;
        font-family: Verdana;
    }
    @media (max-width:397px) {
        .li-message-heading {
            display: none;
        }
    }
</style>