<template>
    <div class="message-li" v-bind:class="messageStyle">
        <span class="span-inside-li"> {{ message.message }} </span>
    </div>
</template>

<script>

    export default {
        data: function() {
            return {
                // isOut: this.isMessageOutgoing_immutableProp //if we put this in computed, it would be reactive, and we want it not reactive this time to attach different style to incoming and outgoing messages
            }
        },
        computed: {
            messageStyle() {
                return this.message.isMessageOutgoing ? "outgoing-message" : "incoming-message";
            }
        },
        props: ["message"],
        inject: ["eventBus"]
    }
</script>

<style scoped>
 .message-li {
    max-width: 70%;
    border-radius: 30px;
    list-style-type: none;
    border-width: 1px;
    border-color: yellow;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    color: silver;
    font-family: Verdana;
    background-image: linear-gradient(270deg, green, blue);
    color: silver;
    font-family: Verdana;
} 
.span-inside-li {
    margin-left: 5px;
    margin-right: 5px;
}
.outgoing-message {
    background-image: linear-gradient(90deg,gray, lightgray);
    background-size: 100%;
    color: black;
    border-top-right-radius: 0px;
    align-self: flex-end;
}
.incoming-message {
    background-image: linear-gradient(135deg, rgb(42, 39, 218) 0%, rgb(0, 204, 255) 140%);
    box-shadow: rgba(0, 77, 255, 0.24) 0px 8px 32px 0px;
    border-top-left-radius: 0px;
    color: white;
    opacity: 1;
    align-self: flex-start;
}

</style>