<template>
    <div class="outer-div-hamburger">        
        <div class="menuToggle">
            <input type="checkbox" />
            <label> {{ labelText }} </label>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</template>

<script>
    
    export default {
        data: function () {
            return {
                
            }
        },
        methods: {
            showHamburgerMenu() {
                if(this.labelText == 'ROOMS') {
                    this.eventBus.$emit('showHamburgerRooms');
                }
                if(this.labelText == 'USERS') {
                    this.eventBus.$emit('showHamburgerUsers');
                }
            }
        },
        computed: {
            isRoomsHamburgerDisabled() { //this is reactive
                return this.$store.state.isRoomsHamburgerDisabled;
            }
        },
        props: ["labelText"],
        inject: ["eventBus"]        
    }

</script>
    
<style scoped>
    .outer-div-hamburger {
        display: flex; 
        justify-content: center;
        width: 70px;
        border-width: 1px;
    }
    label {
        color: silver;
        position: relative;
        top: -2px;
        left: 5px;
    }
    .menuToggle
    {
      border-color: silver;
      margin: 3px;
      border-color: magenta;
      border-width: 1px;
      z-index: 1;
      user-select: none; /*specifies if text can be selected by user or not*/
    }
    .menuToggle input
    {
      border: none;
      border-color: yellow;
      display: block;
      width: 60px; /*this input is very large, so all the spans of hamburger fit inside it*/
      height: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      cursor: pointer;
      opacity: 0.0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    .menuToggle span
    {
      display: block;
      position: relative;
      left: 50%;
      transform: translate(-50%); 
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      background-image: linear-gradient(to right, green, darkgreen);
      opacity: 0.9;
      border-radius: 3px;
      z-index: 1;
      transform-origin: center center;
      transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0), background 0.7s linear, opacity 0.75s ease;
    }
    .menuToggle input:checked ~ span /*matches span that is a general sibling of input, and that input must be inside element with class 'menuToggle'*/
    {
        position: relative;
        left: 50%;
        transform: translate(-50%); 
        opacity: 0.9;
        background: brown;
    }
    .menuToggle input:checked ~ span:nth-last-child(1)
    {
      /* transform-origin: center center; */ /*to nie tutaj transform-origin, to daje sie tam jak nie jest checked!!*/
        transform: translate(-50%, -235%) rotate(45deg) scale(0.99, 0.99) ;
        background: brown;
        opacity: 0.9;
    }
    .menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(45deg) scale(0.2, 0.2);
        opacity: 0;
        background: brown;
    }
    .menuToggle input:checked ~ span:nth-last-child(3)
    {
        transform: translate(-50%, 200%) rotate(-45deg) scale(0.99, 0.99) ;
        background: brown; 
        opacity: 0.9;
    }

</style>