<template>
    <div style="text-align: center;" v-on:click="setIsRoomsHamburgerDisabled">     
        <Hamburger class="left-hamburger" labelText="ROOMS" v-on:click.native="toggleHamburgerRooms" />
        <Hamburger class="right-hamburger" labelText="USERS" v-on:click.native="toggleHamburgerRoomUsers"/>
    </div>
</template>

<script>
    
    import Hamburger from "../../components/TopBar/Hamburger";
    
    export default {
        components: { Hamburger },
        data: function () {
            return {               
            }
        },
        methods: {
            toggleHamburgerRooms() {
                    this.$store.commit('setShowHamburgerRooms', !this.$store.state.showHamburgerRooms);
                    this.$store.commit('setShowHamburgerChatMessages', !this.$store.state.showHamburgerChatMessages);
            },
            toggleHamburgerRoomUsers() {
                this.$store.commit('setShowHamburgerRoomUsers', !this.$store.state.showHamburgerRoomUsers);
                this.$store.commit('setShowHamburgerChatMessages', !this.$store.state.showHamburgerChatMessages);
            },
            setIsRoomsHamburgerDisabled() {
            }
        },
        inject: ["eventBus"]        
    }

</script>
    
<style scoped>

    .left-hamburger {
        display: none;
    }
    @media (max-width:1153px) {
        .left-hamburger {
            display: inline; /*inline is default css setting*/
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
    @media (max-width:397px) {
        .left-hamburger {
            top:6px;
        }
    }
    .right-hamburger {
        display: none;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    @media (max-width:730px) {
        .right-hamburger {
            display: inline;
        }
    }
    @media (max-width:397px) {
        .right-hamburger {
            top:6px;
        }
    }

</style>