<template>
    <div class='outer-div-ru'>        
        <div class="">
            <div class="users" v-for="(usernameObject, index) in usernames" v-bind:key="index" v-on:click="openPrivateRoom(usernameObject)">
                <div class="single-user" v-bind:class="usernameObject.username == $store.state.currentRoom ? 'white-user' : ''">
                    <i class='fa fa-user user-icon' ></i>
                    {{ usernameObject.username }}
                </div>    
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        mounted() {
            this.eventBus.$on('openPrivateRoom', this.openPrivateRoom);
        },
        methods: {
            async openPrivateRoom(usernameObject) {
                let privateRoomName = usernameObject.username;
                let socketId = usernameObject.socketId;
                let isPrivateRoomOpen = false;
                this.privateRooms.forEach(roomObject => {
                    if(roomObject.roomName == privateRoomName) {
                        isPrivateRoomOpen = true;
                    }
                })
                if(!isPrivateRoomOpen) { //undefined means private Room not yet opened
                    let newPrivateRoomObject = {
                        roomName: privateRoomName,
                        socketId: socketId
                    }
                    this.$store.commit('addPrivateRoom', newPrivateRoomObject);
                }
                this.$store.commit('setCurrentRoom', privateRoomName);     
                this.$store.commit('setIsRoomSelected', false);        
                this.$store.commit('setToSocketId', socketId);   
                this.$store.commit('setToUsername', usernameObject.username);
                this.eventBus.$emit('focusToMessageInput');
            }
        },
        computed: {
            usernames() {
                return this.$store.state.usernames;
            },
            privateRooms() {
                return this.$store.state.privateRooms;
            },
            currentPrivateRoom() {
                return this.$store.state.currentPrivateRoom;
            }
        },
        props: [],
        inject: ['eventBus']        
    }

</script>
    
<style scoped>
    .outer-div-ru {
        flex-grow: 2;
        flex-basis: 0; /*this stops text from stretching the parent*/
        border-width: 2px;
        border-color: red;
        background: silver;
        background: linear-gradient(-90deg,gray,white);
        list-style-type: none;
        font-size: 30px;
        /* this stops text from stretching parent in flex*/
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        /*-------------------*/
        text-align: left;
    }
    @media (max-width:997px) {
        .outer-div-ru {
            flex-grow: 3;
        }
    }
    @media (max-width:855px) {
        .outer-div-ru {
            flex-grow: 3;
        }
    }
    @media (max-width:730px) {
        .outer-div-ru {
        }
    }
    .users {
        display: flex;
        flex-direction: column;
        list-style-type: none; 
        padding: 3px; 
        color: black;
        margin-top: 3px;
        cursor: pointer;
    }
    .users:hover {
        color: silver;
    }
    .single-user {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 5px;
    }
    .user-icon {
        color: blue;
        margin-left: 5px;
        margin-right: 10px;
    }
    .white-user {
        color: white;
        font-weight: bolder;
        border-radius: 20px;
    }
</style>